html {
	 background: #e3e3e3;
	 box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.container {
    background: white;
    margin: 1em auto;
    max-width: 1200px;
    padding: 1em;
    width: 90%;
    border-radius: 20px;
}

#input {
	border-radius: 4px;
}
header {
	text-align: center;
	border: solid 3px #F00;
	padding-bottom: 30px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	border-radius: 20px;
}
section {
	text-align: center;
	padding: 10px;
}
#cambiar {
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
	border-radius: 20px;
	/*border: 20px !important; */
}
.title {
	color: #E87400;
	font-size: 80px;
	font-weight: bold;
	font-family: verdana, sans-serif;
	padding-bottom: 100px; 
}
.intro {
	font-size: 40px;
	border: solid 2px green;
}
#contenido {
	border: solid 2px #FFA500;
	border-radius: 20px;
	margin-top: 100px;
	padding: 10px 10px;
	font-size: 30px;
}